<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    .dropbtn {
      background-color: #a8329d;
      color: black;
      padding: 16px;
      font-size: 16px;
      border: none;
    }
    
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown-content a:hover {
      background-color: #ddd;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
    
    .dropdown:hover .dropbtn {
      background-color: #96238a;
    }
    
    h2 {
      color: white;
    }
    a {
      color: black!important;
    }
  </style>
</head>

<body style="background-color:white;">
  <h2>Friends list</h2>
  <div class="dropdown" id="friendsDropdown">
    <button class="dropbtn" id="friendsDropdownBtn">Your friends</button>
    <div class="dropdown-content" id="friendsDropdownContent"></div>
  </div>
  
  <div class="dropdown" id="usersDropdown">
    <button class="dropbtn" id="usersDropdownBtn">Users</button>
    <div class="dropdown-content" id="usersDropdownContent"></div>
  </div>
  
  <div class="dropdown" id="tradeDropdown">
    <button class="dropbtn" id="tradeDropdownBtn">Items</button>
    <div class="dropdown-content" id="tradeDropdownContent"></div>
  </div><br></br>

</body>
<div class="container">
  <form id="username" action="javascript:sendItem">
      <p><label>
          Friend ID:
          <input class="userInput" type="text" name="uid" id="uid" required>
      </label></p>
      <p ><label>
          Item:
          <input class="userInput" type="item" name="item" id="item" required>
      </label></p>
      <p>
          <button id="sendButton" onclick="sendItem()">Send</button>
      </p>
  </form>
</div>

<script>
  // Drop down items
  //this really helped: https://stackoverflow.com/questions/4772774/how-do-i-create-a-link-using-javascript
  var yourFriends = [];
  var users = [];
  var trade = [];
  const sendButton = document.getElementById("sendButton")
  const friendUrl = 'http://127.0.0.1:8028/api/users/send';
  var curr_uid = localStorage.getItem("uid");
  const url = "http://127.0.0.1:8028/api/users/";
    const options = {
        method: 'GET',
        mode: 'cors',
        cache: 'default',
        credentials: 'include',
        headers: {
            'Content-Type': 'application/json',
        },
    };

  // This function creates the dropdown items with a for loop
  function createDropdownItems(items, contentId, buttonId) {
    var dropdownContent = document.getElementById(contentId);
    dropdownContent.innerHTML = ''; // Clear previous items
    for (let i = 0; i < items.length; i++) {
      var text = document.createElement('a')
      text.innerHTML = items[i];
      dropdownContent.appendChild(text);
    }
  }
  function sendItem(){
    const body = {
            uid: document.getElementById("uid").value,
            items: document.getElementById("item").value,
        };
        const authOptions = {
            ...options, // This will copy all properties from options
            method: 'POST', // Override the method property
            cache: 'no-cache', // Set the cache property
            body: JSON.stringify(body)
        };
    fetch(friendUrl, authOptions)
    .then(response => {
        // handle error response from Web API
        if (!response.ok) {
            const errorMsg = 'Login error: ' + response.status;
            console.log(errorMsg);
            return;
        }
        // Success!!!
        // reload the page
        // window.location.reload();
        alert("you just sent an item!");
    })
    // catch fetch errors (ie ACCESS to server blocked)
    .catch(err => {
        console.error(err);
    });
  }
  // document.addEventListener('DOMContentLoaded', () => {
  //   const submitButton = document.querySelector('#username button');
  //   if (submitButton) {
  //       submitButton.addEventListener('click', sendItem());
  //   }
  // });
  fetch(url, options)
      // response is a RESTful "promise" on any successful fetch
      .then(response => {
          // check for response errors and display
          if (response.status !== 200) {
              if (response.status === 401 || response.status == 403) {
                  // Unauthorized - Redirect to 401 error page
                  window.location.href = "/lmc-frontend/lmc-login";
              }
          }
          // valid response will contain JSON data
          response.json().then(data => {
              console.log(data);
              for (let i = 0; i < data.length; i++) {
                  var user = data[i];
                  users.push(user.uid);
                  if (user.uid == curr_uid) {
                    //changes from json to list
                    var parsed = JSON.parse(user.friends)
                    for (var j = 0; j < parsed.length; j++){
                      yourFriends.push(parsed[j]);
                    }
                    var parsed2 = JSON.parse(user.items)
                    for (var k = 0; k < parsed2.length; k++){
                      trade.push(parsed2[k]);
                    }

                  }
                  
              }
              //filling up the dropdown t ables
              console.log("friends", yourFriends);
              console.log("users", users);
              console.log("items", trade);

              createDropdownItems(users, 'usersDropdownContent', 'usersDropdownBtn');
              createDropdownItems(yourFriends, 'friendsDropdownContent', 'usersDropdownBtn');
              createDropdownItems(trade, 'tradeDropdownContent', 'tradeDropdownBtn');
          });
      })
      // catch fetch errors (ie ACCESS to server blocked)
      .catch(err => {
          console.error(err);
      });

  sendButton.addEventListener("click", function() {
    var receiver = document.getElementById("uid").value
    var thing = document.getElementById("item").value
    if (yourFriends.includes(receiver)) {
        sendItem();
    } else {
        alert(`You have to be friends with ${receiver} before sending them an item!`);
    }
  });
  // fetch(friendUrl, options)
  //     // response is a RESTful "promise" on any successful fetch
  //     .then(response => {
  //         // check for response errors and display
  //         if (response.status !== 200) {
  //             if (response.status === 401 || response.status == 403) {
  //                 // Unauthorized - Redirect to 401 error page
  //                 window.location.href = "/lmc-frontend/lmc-login";
  //             }
  //         }
  //         // valid response will contain JSON data
  //         response.json().then(data => {
  //             console.log("friends", data);
  //             for (let i = 0; i < data.length; i++) {
  //                 var user = data[i];
  //                 yourFriends.push(user.friends);
  //                 items.push(user.items)
  //             }
  //             //filling up the dropdown t ables
  //             createDropdownItems(yourFriends, 'friendsDropdownContent', 'friendsDropdownBtn');
  //             createDropdownItems(trade, 'tradeDropdownContent', 'tradeDropdownBtn');
  //         });
  //     })
  //     // catch fetch errors (ie ACCESS to server blocked)
  //     .catch(err => {
  //         console.error(err);
  //       });

  console.log("friends ",yourFriends)
  console.log("users",users)
</script>
