.body {
    color: #e6d060!important;
}
header, footer {
    font-family: 'Lobster', cursive;
    background-color: #61c0a8;
}

body {
    font-family: 'Lobster', cursive; /* Replace 'YourHolidayFont' with the actual font name */
    background-color: #e6d060!important; /* Set a background color for better visibility */
    color: white;
    //filter: blur(8px);
  } 
  .snow:after {
    margin-left: -250px;
    opacity: 0.5;
    filter: blur(2px);
    animation-duration: 6s;
    animation-direction: reverse;
    z-index: -4;
  }
  
  .snow:before {
    margin-left: -350px;
    opacity: 0.7;
    filter: blur(1px);
    animation-duration: 9s;
    animation-direction: reverse;
    z-index: -4;
  }
  
  @keyframes snow {
    to {
      transform: translateY(650px);
    }
  }
th {
    color: white;
    background-color: rgb(123, 35, 53)!important;
    border-color: rgb(123, 35, 53)!important;
}
ul {
  color: white;
}
tbody,td,tr,table {
    font-family: 'Lobster', cursive;
    color: white;
    background-color: rgb(182, 49, 80);
    border-color: rgb(123, 35, 53)!important;
}
a {
    font-family: 'Lobster', cursive!important;
    color: white!important;
}
h2,p {
    font-family: 'Lobster', cursive;
    color: white;
}
  h1 {
    font-size: 36px;
    color: #cc0000; /* Use a deep red color for the text */
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #ffffff; /* Add a subtle white shadow */
  }
  
  /* Additional styles for a Christmas-themed feel */
  h1::before {
    content: '\2605'; /* Unicode character for a star */
    font-size: 42px;
    margin-right: 10px;
  }
  
  h1::after {
    content: '\2605';
    font-size: 42px;
    margin-left: 10px;
  }
  form {
    color: white;
  }